<template>

<div>
      <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>{{ title }}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
          <p><img src="../../assets/img/services/email.png" class="img-fluid" /></p>
            <p>
              It’s almost impossible to do business these days without an email address. 
              While it can be tempting to try and save funds by using one of the many 
              free email options available, when you’re running a business it’s important to 
              have a professional email address, and it will be well worth the dollars you spend. 
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">

              <h4>5 reasons to use a professional email address</h4>
              <ul>
                <li>Maintaining a professional image</li>
                <li>Clear link to your website</li>
                <li>Reduce the risk of being marked as spam</li>
                <li>Organise your emails by purpose</li>
                <li>Collaborate with your team</li>
              </ul>
              <a target="_blank" href="https://www.netregistry.com.au/blog/5-reasons-to-use-a-professional-email-address/" class="btn-learn-more">Read More</a>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
</div>

</template>

<script lang="ts">
export default {
  name : 'BusinessEmail',
  props : [
      'title',
  ],
  data : function() {
      return {
          
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
