<template>

<div>
      <!-- ======= About Us Section ======= -->
    <section id="about" class="services">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>{{ title }}</h2>
          <p>
              FREE Add-ons with every Domain Name!<br>
              Get over $100 worth of Free Services with every Domain you Register
            </p>
        </div>

<div class="row">

          <div data-aos="fade-up" :data-aos-delay="index * 50" v-bind:key="index" v-for="(item, index) in items" class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i :class="item.icon"></i></div>
              <h4><a target="_blank" :href="item.url">{{ item.name }}</a></h4>
              <p v-html="item.description"></p>
            </div>
          </div>

        </div>

<section id="about" class="about">

            <div class="content mt-3 d-flex justify-content-center">
              <a target="_blank" href="https://www.trokis.com/domain-registration/index.php" class="btn-learn-more">Register your domain name</a>
            </div>


    </section><!-- End About Us Section -->

      </div>
    </section><!-- End About Us Section -->


</div>

</template>

<script lang="ts">
export default {
  name : 'DomainRegistration',
  props : [
      'title',
  ],
    data : function() {
      return {
          items : [
            {
              "name" : "Free Email Account",
              "url" : "https://www.trokis.com/domain-registration/index.php",
              "icon" : "bx bx-server",
              "description" : "Receive 2 personalized Email Addresses such as mail@yourdomain.com with free fraud, spam and virus protection."
            },
             {
              "name" : "Domain Forwarding",
              "url" : "https://www.trokis.com/domain-registration/index.php",
              "icon" : "bx bx-server",
              "description" : "Point your domain name to another website for free! Redirect users when they type your domain name into a browser (with/without domain masking & SEO)"
            },
             {
              "name" : "DNS Management",
              "url" : "https://www.trokis.com/domain-registration/index.php",
              "icon" : "bx bx-server",
              "description" : "Free lifetime DNS service which allows you to manage your DNS records on our globally distributed and highly redundant DNS infrastructure."
            },
             {
              "name" : "Domain Theft Protection",
              "url" : "https://www.trokis.com/domain-registration/index.php",
              "icon" : "bx bx-server",
              "description" : "Protect your Domain from being transferred out accidentally or without your permission with our free Domain Theft Protection."
            },
             {
              "name" : "Free Mail Forwards",
              "url" : "https://www.trokis.com/domain-registration/index.php",
              "icon" : "bx bx-server",
              "description" : "Create free email forwards and automatically redirect your email to existing email accounts."
            },
             {
              "name" : "Easy to use Control Panel",
              "url" : "https://www.trokis.com/domain-registration/index.php",
              "icon" : "bx bx-server",
              "description" : "Use our intuitive Control Panel to manage your domain name, configure email accounts, renew your domain name and buy more services."
            },
             {
              "name" : "Bulk Tools",
              "url" : "https://www.trokis.com/domain-registration/index.php",
              "icon" : "bx bx-server",
              "description" : "Easy-to-use bulk tools to help you Register, Renew, Transfer and make other changes to several Domain Names in a single step."
            },
            {
              "name" : "Free Website",
              "url" : "https://forms.gle/LHz1nrvas4WmRMHD7",
              "icon" : "bx bx-server",
              "description" : "We will develop a one-page website for your domain name using free bootstrap templates of your choice. <span class='badge badge-warning'>Fill-up Our Reservation Form Now</span>"
            },
          ]
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
