<template>

<div>
      <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>{{ title }}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" :data-aos-delay="100">
            <p><img src="../../assets/img/services/web-design-layout.jpg" class="img-fluid" /></p>
            <p>
              Web design refers to both the aesthetic portion of the website and it’s usability. Web designers use various design programs such as Adobe Photoshop to create the layout and other visual elements of the website.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" :data-aos-delay="200">
          <p><img src="../../assets/img/services/web-development.jpg" class="img-fluid" /></p>
            <p>
              Web Developers on the other hand, take a website design and actually make a functioning website from it. Web developers use HTML, CSS, Javascript, PHP and other programming languages to bring to life the design files.
            </p>
          </div>
        </div>

        <div class="content mt-3">
        <a target="_blank" href="https://www.purelybranded.com/insights/web-design-or-web-development-whats-the-difference/" class="btn-learn-more">Read More</a>
        </div>
      </div>
    </section><!-- End About Us Section -->
</div>

</template>

<script lang="ts">
export default {
  name : 'WebDesignDevelopment',
  props : ['title'],
  data : function() {
      return {
          
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
