<template>

<div>
      <!-- ======= About Us Section ======= -->
    <section id="about" class="services section-bg">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>{{ title }}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Web hosting is a service that allows organizations and individuals 
              to post a website or web page onto the Internet. 
              A web host, or web hosting service provider, 
              is a business that provides the technologies 
              and services needed for the website or webpage to be viewed in the Internet. 
              Websites are hosted, or stored, on special computers called servers. 
              - <a target="_blank" href="https://www.website.com/beginnerguide/webhosting/6/1/what-is-web-hosting?.ws">Website.com</a>
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
           
           <p>Cloud hosting is hosting that uses the resources of several clustered servers. 
           Basically, this means that your website uses the virtual resources of several servers 
           to accommodate all the aspects of hosting your site. The load is balanced, 
           security is taken care of and hardware resources are available virtually so 
           they can be used when needed. The cluster of servers is the cloud.
           - <a target="_blank" href="https://www.webhostinghub.com/web-hosting-guide/what-is-cloud-web-hosting-and-will-it-work-for-me">WebHostingHub.com</a>
           </p>
            
          </div>
        </div>

        <div class="row">

          <div data-aos="fade-up" :data-aos-delay="index * 50" v-bind:key="index" v-for="(item, index) in items" class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i :class="item.icon"></i></div>
              <h4><a target="_blank" :href="item.url">{{ item.name }}</a></h4>
              <p>{{ item.description }}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End About Us Section -->
</div>

</template>

<script lang="ts">
export default {
  name : 'WebHosting',
  props : [
      'title',
  ],
  data : function() {
      return {
          items : [
            {
              "name" : "Trokis Web Hosting",
              "url" : "https://www.trokis.com/",
              "icon" : "bx bx-server",
              "description" : "A startup Davao-based web hosting company."
            },
            {
              "name" : "BlueHost",
              "url" : "https://bit.ly/dits-bluehost",
              "icon" : "bx bx-server",
              "description" : "Bluehost is a leading web hosting solutions company. Founded on 2003, Bluehost has continually innovated new ways to deliver on our mission: to empower people to fully harness the web."
            },
            {
              "name" : "A2 Hosting",
              "url" : "https://www.a2hosting.com",
              "icon" : "bx bx-server",
              "description" : "A2 Hosting was founded by Bryan Muthig and is known for its high powered and easy-to-use web hosting. Their turbo servers promise up to 20X faster page loads compared to standard hosting. A2's core goal is to create and maintain such a good web hosting company that the staff wants to use it themselves."
            },
            {
              "name" : "Amazon Web Services",
              "url" : "https://aws.amazon.com",
              "icon" : "bx bx-server",
              "description" : "Amazon Web Services is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered pay-as-you-go basis."
            },
            {
              "name" : "Google Cloud Platform",
              "url" : "https://cloud.google.com",
              "icon" : "bx bx-server",
              "description" : "Google Cloud Platform, offered by Google, is a suite of cloud computing services that runs on the same infrastructure that Google uses internally for its end-user products, such as Google Search, Gmail and YouTube."
            },
            {
              "name" : "Alibaba Cloud",
              "url" : "https://www.alibabacloud.com/",
              "icon" : "bx bx-server",
              "description" : "Alibaba Cloud, also known as Aliyun, is a Chinese cloud computing company, a subsidiary of Alibaba Group. Alibaba Cloud provides cloud computing services to online businesses and Alibaba's own e-commerce ecosystem. Alibaba Cloud's international operations are registered and headquartered in Singapore."
            },
            {
              "name" : "DigitalOcean",
              "url" : "https://www.digitalocean.com/",
              "icon" : "bx bx-server",
              "description" : "DigitalOcean, Inc. is an American cloud infrastructure provider headquartered in New York City with data centers worldwide. DigitalOcean provides developers cloud services that help to deploy and scale applications that run simultaneously on multiple computers."
            },
            {
              "name" : "Microsoft Azure",
              "url" : "https://azure.microsoft.com/",
              "icon" : "bx bx-server",
              "description" : "Microsoft Azure is a cloud computing service created by Microsoft for building, testing, deploying, and managing applications and services through Microsoft-managed data centers."
            },
          ]
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
