<template>

<div>
      <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>{{ title }}</h2>
        </div>

        <div class="row content">
          <div class="col-lg-12 text-center">
            - - Page Under Construction - -
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
</div>

</template>

<script lang="ts">
export default {
  name : 'LibrarySystem',
  props : { 
      title : String,
  },
  data : function() {
      return {
          
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
