<template>
<div>
   
     <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>{{ title }}</h2>
          <p>
           A collection of web-based computer systems to manage Quickbooks easily.
          </p>
        </div>

        <div class="row">

          <div data-aos="fade-up" :data-aos-delay="index * 50" v-bind:key="index" v-for="(item,index) in items" class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i :class="item.icon"></i></div>
              <h4><router-link :to="{ name : item.url }">{{ item.name }}</router-link></h4>
              <p>{{ item.description }}</p>
              <span class='badge badge-warning' v-if="development.includes(item.url)">Coming Soon</span>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

</div>
</template>

<script lang="ts">
import jsonQuickbooks from '@/json/quickbooks.json';

export default {
  name : 'QuickbooksSupportSystems',
  props : ['title'],
  data : function() {
    return {
      items: jsonQuickbooks,
      development: [
        'quickbooks-1',
        'quickbooks-2'
      ]
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
