<template>
  <div>
    <ClientSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import ClientSystem from '@/components/products/ClientSystem.vue'

export default {
  name: 'ClientSystemPage',
  title : 'Client Information System',
  components: {
    ClientSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
