<template>
  <div>
    <CooperativeSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import CooperativeSystem from '@/components/products/CooperativeSystem.vue'

export default {
  name: 'CooperativeSystemPage',
  title : 'Cooperative Information & Management System',
  components: {
    CooperativeSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
