<template>
  <div>
    <FinanceSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import FinanceSystem from '@/components/products/FinanceSystem.vue'

export default {
  name: 'FinanceSystemPage',
  title : 'Finance Information System',
  components: {
    FinanceSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
