<template>
  <div>
    <HospitalSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import HospitalSystem from '@/components/products/HospitalSystem.vue'

export default {
  name: 'HospitalSystemPage',
  title : 'Hospital Information System',
  components: {
    HospitalSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
