<template>
  <div>
    <LessonPlanSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import LessonPlanSystem from '@/components/products/LessonPlanSystem.vue'

export default {
  name: 'LessonPlanSystemPage',
  title : 'Lesson Plan System',
  components: {
    LessonPlanSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
