<template>
  <div>
    <LibrarySystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import LibrarySystem from '@/components/products/LibrarySystem.vue'

export default {
  name: 'LibrarySystemPage',
  title : 'Library Management System',
  components: {
    LibrarySystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
