<template>
  <div>
    <PayrollSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import PayrollSystem from '@/components/products/PayrollSystem.vue'

export default {
  name: 'PayrollSystemPage',
  title : 'HR and Payroll System',
  components: {
    PayrollSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
