<template>
  <div>
    <QuickbooksSupportSystems :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import QuickbooksSupportSystems from '@/components/products/QuickbooksSupportSystems.vue'

export default {
  name: 'QuickbooksSupportSystemsPage',
  title : 'Quickbooks Support Systems',
  components: {
    QuickbooksSupportSystems
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
