<template>
  <div>
    <SchoolSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import SchoolSystem from '@/components/products/SchoolSystem.vue'

export default {
  name: 'SchoolSystemPage',
  title : 'Student Information & Management System',
  components: {
    SchoolSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
