<template>
  <div>
    <StudentAttendanceSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import StudentAttendanceSystem from '@/components/products/StudentAttendanceSystem.vue'

export default {
  name: 'StudentAttendanceSystemPage',
  title : 'Student Attendance Monitoring System',
  components: {
    StudentAttendanceSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
