<template>
  <div>
    <TestbankSystem :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import TestbankSystem from '@/components/products/TestbankSystem.vue'

export default {
  name: 'TestbankSystemPage',
  title : 'Online Testbank System',
  components: {
    TestbankSystem
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
