<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Davao IT Solutions</title>
    <meta property="og:url"                content="https://www.davao.me" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Davao IT Solutions" />
    <meta property="og:description"        content="Better IT Solutions For Your Business" />
    <meta property="og:image"              content="https://1.bp.blogspot.com/-WDyIw7gtJMI/XuYLNl3_y2I/AAAAAAAATw0/McMAHnEiCy8zCMG7SDq_Htf4fbz9RA1WgCLcBGAsYHQ/s1600/101384535_119985416395328_284801467979606333_o.jpg" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but `Davao IT Solutions` doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit=function(){FB.init({xfbml:!0,version:"v7.0"})},function(e,t,n){var c,o=e.getElementsByTagName(t)[0];e.getElementById(n)||((c=e.createElement(t)).id=n,c.src="https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js",o.parentNode.insertBefore(c,o))}(document,"script","facebook-jssdk");
    </script>
    <div class="fb-customerchat" attribution="setup_tool" page_id="103664368027433"></div>

  </body>
</html>