<template>
  <div>
    <AdvancesLiquidation :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import AdvancesLiquidation from '@/components/quickbooks/AdvancesLiquidation.vue'

export default {
  title : 'Advances for Liquidation',
  components: {
    AdvancesLiquidation
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
