<template>
  <div>
    <CheckVoucherPrint :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import CheckVoucherPrint from '@/components/quickbooks/CheckVoucherPrint.vue'

export default {
  name: 'CheckVoucherPrintPage',
  title : 'Check Voucher & Check Print',
  components: {
    CheckVoucherPrint
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
