<template>
  <div>
    <About/>
  </div>
</template>

<script>
// @ is an alias to /src
import About from '@/components/About.vue'

export default {
  name: 'AboutPage',
  title : 'About Us',
  components: {
    About,
  }
}
</script>

<style scoped lang="scss">
#about {
    padding: 100px 0;
}
</style>