<template>
  <div>
    <Contact/>
  </div>
</template>

<script>
// @ is an alias to /src
import Contact from '@/components/Contact.vue'

export default {
  name: 'ContactPage',
  title : 'Contact Us',
  components: {
    Contact,
  }
}
</script>
