<template>
  <div>
    <Hero/>
    <Clients/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from '@/components/Hero.vue'
import Clients from '@/components/Clients.vue'

export default {
  name: 'HomePage',
  title : 'Davao IT Solutions',
  components: {
    Hero,
    Clients,
  }
}
</script>
