<template>
  <div>
    <HowItWorks/>
  </div>
</template>

<script>
// @ is an alias to /src
import HowItWorks from '@/components/HowItWorks.vue'

export default {
  name: 'HowItWorksPage',
  title : 'How It Works',
  components: {
    HowItWorks,
  }
}
</script>

<style scoped lang="scss">

</style>