<template>
  <div>
    <BeAnAgent/>
    
  </div>
</template>

<style scoped lang="scss">

</style>

<script>
// @ is an alias to /src
import BeAnAgent from '@/components/BeAnAgent.vue'

export default {
  name: 'JoinUsPage',
  title : 'Become a Sales Agent',
  components: {
    BeAnAgent,
  }
}
</script>

