<template>
  <div>
    <Services/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Services from '@/components/Services.vue'

export default {
  name: 'ServicesPage',
  title : 'Services',
  components: {
    Services,
  }
}
</script>
