<template>
  <div>
    <Team/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Team from '@/components/Team.vue'

export default {
  name: 'TeamPage',
  title : 'Team',
  components: {
    Team,
  }
}
</script>
