<template>
  <div>
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" :data-aos-delay="100">
            <p>
              <strong>Davao Information Technology Solutions</strong> is a startup IT team based in
              Davao City. Our mission is to provide outstanding, dependable and reasonable services to
              individuals and businesses within the country and to help businesses grow their operations online.
            </p>

            <p>
              Our services include, but not limited to, domain registration and management, web hosting and cloud hosting,
              web design and development, graphics design, video editing and animation, and social media marketing.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" :data-aos-delay="200">
            <p>
              <strong>VISION</strong>
            </p>

            <p>
              To be a company that will stand out in the local and online community in providing
              quality IT solutions.
            </p>

            <p>
              <strong>MISSION</strong>
            </p>

            <p>
              To provide reliable and efficient solutions to small and medium-sized businesses
              to help them handle their operations with ease through Information Technology.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->
  </div>
</template>

<script lang="ts">
export default {};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
