<template>
  <div>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          >
            <h1
              data-aos="fade-up"
              :data-aos-delay="100"
            >Become one of our Independent Representatives</h1>
            <h2 data-aos="fade-up" :data-aos-delay="200">
              and earn up to 20% commissions in all of your referred clients
              and get a share in your network's sales down to the 15th tier
            </h2>
            <div class="d-lg-flex">
              <a
                :href="this.$store.state.agents_url_register"
                class="btn-get-started scrollto"
              >Sign-up Now</a>
              <router-link :to="{ name: 'how-it-works' }" class="venobox btn-watch-video" v-show="false">
                How it works
                <i class="icofont-question-circle"></i>
              </router-link>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="../assets/img/why-us.png" class="img-fluid animated" alt />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
  </div>
</template>

<script lang="ts">
export default {
  name: "BeAnAgent"
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#hero {
  background-color: #1e7e34;
}
</style>
