<template>
<div>
  <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row aos-init aos-animate" data-aos="zoom-in">

          <div v-bind:key="index" v-for="(client, index) in clients" class="col-lg-3 col-md-4 d-flex align-items-center justify-content-center">
            <a :href="client.url" :title="client.name" target="_blank"><img :src="client.image" class="img-fluid" alt=""></a>
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->
</div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      clients: [
        {
            name : 'Archdiocesan Nourishment Center, Inc.',
            image : require('../assets/img/clients/client-anc.png'),
            url : 'https://www.ancdavao.com/',
            id : 'anc'
        },
        {
            name : 'San Lorenzo College of Davao, Inc.',
            image : require('../assets/img/clients/client-slcd.png'),
            url : 'https://www.slcd.edu.ph/',
            id : 'anc'
        },
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
