<template>
  <div>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>Get In Touch</h2>
          <p>
            We’re here to help and answer any question you might have.
            We look forward to hearing from you!
            <br />Whether you have a question about features,
            trials, pricing, need a demo, or anything else,
            our team is ready to answer all your questions.
          </p>
        </div>

        <div class="row">
          <div data-aos="fade-up" :data-aos-delay="100" class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Blk 6, Lot 9, Christ the King St, Brgy. Sto. Nino, Davao City, Philippines</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>sales@davao.me</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call or Text (SMART):</h4>
                <p>+63 946 255 9955</p>
              </div>

              <div class="phone">
                <i class="icofont-facebook"></i>
                <h4>Facebook Page</h4>
                <p>
                  <a
                    href="https://www.facebook.com/DavaoInformationTechnologySolutions/"
                    target="_blank"
                  >fb.com/DavaoInformationTechnologySolutions</a>
                </p>
              </div>
            </div>
          </div>

          <div
            data-aos="fade-up"
            :data-aos-delay="200"
            class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"
          >
            <div class="php-email-form">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3959.4256124216026!2d125.50426701477382!3d7.076554294889199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5fa09871e43738ad!2sDavao%20Information%20Technology%20Solutions!5e0!3m2!1sen!2sph!4v1590201508696!5m2!1sen!2sph"
                frameborder="0"
                style="border:0; width: 100%; height: 390px;"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </div>
</template>

<script lang="ts">
export default {};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
