<template>
  <div>
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div data-aos="fade-up" :data-aos-delay="50" class="col-lg-3 col-md-6 col-sm-6 footer-contact">
            <img src="../assets/img/logo_v.png" class="img-fluid" alt="Davao IT Solutions Logo">
            
          </div>

          <div data-aos="fade-up" :data-aos-delay="100" class="col-lg-3 col-md-6 col-sm-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <router-link v-bind:key="link.key" tag="li" :to="link.url" v-for="link in usefulLinks">
                <i class="bx bx-chevron-right"></i> <a>{{ link.name }}</a>
              </router-link>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="https://blog.davao.me/">Blog</a>
              </li>
            </ul>
          </div>

          <div data-aos="fade-up" :data-aos-delay="150" class="col-lg-3 col-md-6 col-sm-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <router-link v-bind:key="link.key" tag="li" :to="link.url" v-for="link in services">
                <i class="bx bx-chevron-right"></i> <a>{{ link.name }}</a>
              </router-link>
            </ul>
          </div>

          <div data-aos="fade-up" :data-aos-delay="200" class="col-lg-3 col-md-6 col-sm-6 footer-links">
            <h4>Our Contacts</h4>
            <p>
              Blk 6, Lot 9, Christ the King St,<br>
              Purok 8, Brgy. Sto. Nino<br>
              Davao City, Philippines <br><br>
              <strong>Phone:</strong> +63 946 255 9955<br>
              <strong>Email:</strong> sales@davao.me<br>
            </p>
            <div class="social-links mt-3 mb-2">
              <a target="_blank" :href="item.url" :class="item.class" v-bind:key="item.key" v-for="item in socialLinks"><i :class="item.icon"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        <strong><span>DAVAO IT SOLUTIONS</span></strong> &copy; 2020 &middot; All Rights Reserved &middot; 
        <a :href="this.$store.state.agents_url_login">Agents Login</a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  </div>
</template>

<script lang="ts">
//import Newsletter from '@/components/Newsletter.vue'

export default {
  name : "Footer",
  components : {
    //Newsletter
  },
  data : function() {
    return {
      usefulLinks : [
        {
          name :  'Home', url : { name : 'homepage' }
        },
        {
          name :  'About Us', url : { name : 'about' }
        },
        {
          name :  'Services', url : { name : 'services' }
        },
        {
          name :  'Products', url : { name : 'products' }
        },
        {
          name :  'Team', url : { name : 'team' }
        },
      ],
    services : [
        {
          name :  'Web Design and Development', url : { name : 'services-1' }
        },
        {
          name :  'System Development', url : { name : 'services-2' }
        },
        {
          name :  'E-Commerce Solution', url : { name : 'services-7' }
        },
        {
          name :  'Social Media Marketing', url : { name : 'services-8' }
        },
        {
          name :  'Graphic Design', url : { name : 'services-4' }
        },
      ],
    socialLinks : [
      {
        name : 'Facebook', url : 'https://www.facebook.com/DavaoInformationTechnologySolutions/', icon : 'bx bxl-facebook', class : 'facebook',
      },
      {
        name : 'Google', url : 'https://www.google.com.ph/search?_ga=2.217650770.511472205.1590197122-1873076602.1582340272&q=Davao+Information+Technology+Solutions&ludocid=6890675044804409517&lsig=AB86z5XPKicvEhvjsH4_QaS3FONa#fpstate=lie', icon : 'bx bxl-google', class : 'google-plus',
      },
      {
        name : 'LinkedIn', url : 'https://www.linkedin.com/company/davao-information-technology-solutions/', icon : 'bx bxl-linkedin', class : 'linkedin',
      },
      /*
      {
        name : 'Instagram', url : 'https://instagram.com/davao-it-solutions', icon : 'bx bxl-instagram', class : 'instagram',
      },
      {
        name : 'Twitter', url : 'https://twitter.com/davao-it-solutions', icon : 'bx bxl-twitter', class : 'twitter',
      },
      */
    ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
