<template>
<div>
      <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><router-link to="/" class="text-center">
        <img src="../assets/img/logo_h.png" title="Davao IT Solutions" />
      </router-link></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!--<router-link to="/" class="logo mr-auto"><img src="../assets/img/logo.png" alt="" class="img-fluid"></router-link>-->

     <Nav/>

    </div>
  </header><!-- End Header -->
</div>
</template>

<script lang="ts">
import Nav from '@/components/Nav.vue'

export default {
  name: 'Header',
  components: {
    Nav
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#header {
  background: #37517e;
}
</style>
