<template>
<div>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
          <h1 data-aos="fade-up" :data-aos-delay="100">Better IT Solutions For Your Business</h1>
          <h2 data-aos="fade-up" :data-aos-delay="200">We are team of talented designers making websites with Bootstrap, Vue, and Laravel.</h2>
          <div class="d-lg-flex">
            <router-link to="/about" class="btn-get-started scrollto">Learn More</router-link>
            <a v-show="false" target="_blank" :href="this.$store.state.hero_video" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="../assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
</div>
</template>

<script lang="ts">
export default {
  name : 'Hero',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    #hero .container {
      padding-bottom: 72px;
    }
</style>
