<template>
  <div>
      <section id="contact" class="contact">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>How It Works</h2>
          <p>We’re here to help and answer any question you might have. 
          We look forward to hearing from you! <br />Whether you have a question about features, 
          trials, pricing, need a demo, or anything else, 
          our team is ready to answer all your questions.</p>
        </div>
    
      </div>
      </section>
  </div>
</template>

<script lang="ts">
export default {};
</script>

<style scoped lang="scss">
</style>
