<template>
<div>
      <nav class="nav-menu">
        <ul>
          <router-link class="d-none d-lg-block" tag="li" to="/"><a>Home</a></router-link>
          <router-link class="d-none d-lg-block" tag="li" to="/about"><a>About</a></router-link>
          <router-link class="d-none d-lg-block" tag="li" to="/services"><a>Services</a></router-link>
          <router-link class="d-none d-lg-block" tag="li" to="/products"><a>Products</a></router-link>
          <!--<router-link tag="li" to="/team"><a>Team</a></router-link>-->
          <router-link class="d-none d-lg-block" tag="li" to="/contact"><a>Contact</a></router-link>
          <router-link class="get-started-btn" tag="li" to="/join-us"><a>Join Us</a></router-link>
        </ul>
      </nav><!-- .nav-menu -->

      

</div>
</template>

<script lang="ts">
export default {};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
li.get-started-btn {
    padding: 9px 25px 7px 25px!important;
}
li.get-started-btn a {
    color:#FFF;
    font-weight: bold;
    font-size:14px;
}
li.router-link-exact-active a {
  color:#47b2e4;
}
a.router-link-exact-active {
  color:#47b2e4;
}
.get-started-btn.router-link-exact-active {
  background-color:#47b2e4;
  color:#FFF;
}
.get-started-btn:hover a {
  color:#FFF;
}
li.get-started-btn a:hover {
  color:#FFF;
}
li.router-link-exact-active.get-started-btn a {
  color:#FFF;
  border-color:#47b2e4;
}
li.router-link-exact-active.get-started-btn {
  border-color:#FFF;
}
</style>
