<template>
<div>
   
     <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>Our Products</h2>
          <p>Our IT products promotes effeciency in your company's operations and improves delivery of information to decision makers.</p>
        </div>

        <div class="row">

          <div data-aos="fade-up" :data-aos-delay="index * 50" v-bind:key="index" v-for="(item, index) in items" class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i :class="item.icon"></i></div>
              <h4><router-link :to="{ name : item.url }">{{ item.name }}</router-link></h4>
              <p>{{ item.description }}</p>
              <span class='badge badge-warning' v-if="development.includes(item.url)">Coming Soon</span>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Products Section -->

</div>
</template>

<script lang="ts">
import jsonProducts from '@/json/products.json';

export default {
  name : 'Products',
  data : function() {
    return {
      items: jsonProducts,
      development : [
        'products-1',
        'products-2',
        'products-3',
        'products-4',
        'products-5',
        'products-6',
        'products-7',
        'products-8',
        'products-9',
        'products-11',
        'products-12',
        ]
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
