<template>
<div>
   
     <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>Our Services</h2>
          <p>
            We provide a wide range of IT services ranging from small projects in a Small to Medium-sized businesses 
            environment to larger projects that encompasses an entire company in a large corporate environment.
          </p>
        </div>

        <div class="row">

          <div data-aos="fade-up" :data-aos-delay="index * 50" v-bind:key="index" v-for="(item, index) in items" class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i :class="item.icon"></i></div>
              <h4><router-link :to="{ name : item.url }">{{ item.name }}</router-link></h4>
              <p>{{ item.description }}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

</div>
</template>

<script lang="ts">
import jsonServices from '@/json/services.json';

export default {
  name : 'Services',
  data : function() {
    return {
      items: jsonServices
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
