<template>
  <div>
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        <div data-aos="fade-up" :data-aos-delay="0" class="section-title">
          <h2>Meet the Team</h2>
          <p>"None of us, including me, ever do great things. But we can all do small things, with great love, <br />and together we can do something wonderful." – Mother Teresa</p>
        </div>

        <div class="row">
          <div class="col-lg-6 mt-4" data-aos="fade-up" :data-aos-delay="(index * 50) + 50" v-bind:key="index" v-for="(member, index) in members">
            <div class="member d-flex align-items-start">
              <div class="pic">
                <img :src="member.imageUrl" class="img-fluid" alt />
              </div>
              <div class="member-info">
                <h4>{{ member.name }}</h4>
                <span>{{ member.position }}</span>
                <p>{{ member.tags }}</p>
                <div class="social">
                  <a :href="member.twitterUrl">
                    <i class="ri-twitter-fill"></i>
                  </a>
                  <a :href="member.facebookUrl">
                    <i class="ri-facebook-fill"></i>
                  </a>
                  <a :href="member.instagramUrl">
                    <i class="ri-instagram-fill"></i>
                  </a>
                  <a :href="member.linkedinUrl">
                    <i class="ri-linkedin-box-fill"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->
  </div>
</template>

<script lang="ts">
export default {
  name: "Team",
  data: function() {
    return {
      members: [
        {
          name: "Chester Alan Tagudin",
          position: "Software Engineer",
          tags: "Bootstrap, Vue, Laravel",
          imageUrl: require("../assets/img/logo_solo.png"),
          twitterUrl: "#1twitterUrl",
          facebookUrl: "#1facebookUrl",
          instagramUrl: "#1instagramUrl",
          linkedinUrl: "#1linkedinUrl"
        },
        {
          name: "Dante Noe Raquel II",
          position: "Marketing Officer",
          tags: "Facebook, Youtube, and Twitter",
          imageUrl: require("../assets/img/logo_solo.png"),
          twitterUrl: "#2twitterUrl",
          facebookUrl: "#2facebookUrl",
          instagramUrl: "#2instagramUrl",
          linkedinUrl: "#2linkedinUrl"
        },
        {
          name: "Patrick John Celades",
          position: "Software Engineer",
          tags: "Bootstrap, Vue, Laravel",
          imageUrl: require("../assets/img/logo_solo.png"),
          twitterUrl: "#3twitterUrl",
          facebookUrl: "#3facebookUrl",
          instagramUrl: "#3instagramUrl",
          linkedinUrl: "#3linkedinUrl"
        },
        {
          name: "Ivanrex Ganuhay",
          position: "Graphics Designer",
          tags: "Photoshop, Illustrator, InDesign",
          imageUrl: require("../assets/img/logo_solo.png"),
          twitterUrl: "#4twitterUrl",
          facebookUrl: "#4facebookUrl",
          instagramUrl: "#4instagramUrl",
          linkedinUrl: "#4linkedinUrl"
        },
        {
          name: "Nicole Kevin Tagudin",
          position: "Graphics Designer",
          tags: "Bootstrap, Vue, Laravel",
          imageUrl: require("../assets/img/logo_solo.png"),
          twitterUrl: "#4twitterUrl",
          facebookUrl: "#4facebookUrl",
          instagramUrl: "#4instagramUrl",
          linkedinUrl: "#4linkedinUrl"
        },
        {
          name: "Johneil Carl Tagudin",
          position: "Video Editor",
          tags: "After Effects, Premier Pro",
          imageUrl: require("../assets/img/logo_solo.png"),
          twitterUrl: "#4twitterUrl",
          facebookUrl: "#4facebookUrl",
          instagramUrl: "#4instagramUrl",
          linkedinUrl: "#4linkedinUrl"
        }
      ]
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
