<template>
<div>
  <Header/>
  <main id="main">
      <transition name="slide-fade" mode="out-in">
        <router-view/>
      </transition>
  </main>
  <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue';
import Footer from '@/components/Footer.vue'

export default {
  name: 'Home',
  components: {
    Header, Footer
  }
}
</script>

<style lang="scss">
    @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i';
    @import './assets/vendor/bootstrap/css/bootstrap.min.css';
    @import './assets/vendor/icofont/icofont.min.css';
    @import './assets/vendor/boxicons/css/boxicons.min.css';
    @import './assets/vendor/remixicon/remixicon.css';
    @import './assets/vendor/venobox/venobox.css';
    //@import './assets/vendor/owl.carousel/assets/owl.carousel.min.css';
    //@import './assets/vendor/aos/aos.css';
    @import './assets/css/style.css';

    #main {
      padding-top: 40px;
    }

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1.0, 0.5, 0.5, 1.0);
}
.slide-fade-enter {
  //transform: translateX(10px); // slide-left
  //transform: translateX(-10px); // slide-right
  transform: translateY(10px); // slide-up
  //transform: translateY(-10px); // slide-down
  opacity: 0;
}

.slide-fade-leave-to {
  //transform: translateX(-10px); // slide-left
  //transform: translateX(10px); // slide-right
  //transform: translateY(-50px); // slide-up
  transform: translateY(10px); // slide-down
  opacity: 0;
}

</style>
