<template>
  <div>
    <BusinessEmail :title="optionsTitle"/>
  </div>
</template>

<script>
// @ is an alias to /src
import BusinessEmail from '@/components/services/BusinessEmail.vue'

export default {
  name: 'BusinessEmailPage',
  title : 'Business Email Solution',
  components: {
      BusinessEmail
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
