<template>
  <div>
    <DomainRegistration :title="optionsTitle"/>
  </div>
</template>

<script>
// @ is an alias to /src
import DomainRegistration from '@/components/services/DomainRegistration.vue'

export default {
  name: 'DomainRegistrationPage',
  title : 'Domain Name Registration & Management',
  components: {
    DomainRegistration
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
