<template>
  <div>
    <Ecommerce :title="optionsTitle"/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Ecommerce from '@/components/services/Ecommerce.vue'

export default {
  name: 'EcommercePage',
  title : 'E-commerce Solution',
  components: {
    Ecommerce
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
