<template>
  <div>
    <GraphicsDesign :title="optionsTitle"/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import GraphicsDesign from '@/components/services/GraphicsDesign.vue'

export default {
  name: 'GraphicsDesignPage',
  title : 'Graphics Design',
  components: {
    GraphicsDesign
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
