<template>
  <div>
    <Quickbooks :title="optionsTitle"/>
    
  </div>
</template>

<script>
// @ is an alias to /src
import Quickbooks from '@/components/services/Quickbooks.vue'

export default {
  name: 'QuickbooksPage',
  title : 'Quickbooks Implementation and Support',
  components: {
    Quickbooks
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
