<template>
  <div>
    <SocialMedia :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import SocialMedia from '@/components/services/SocialMedia.vue'

export default {
  name: 'SocialMediaPage',
  title : 'Social Media Marketing',
  components: {
    SocialMedia
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
