<template>
  <div>
    <SoftwareDevelopment :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import SoftwareDevelopment from '@/components/services/SoftwareDevelopment.vue'

export default {
  name: 'SoftwareDevelopmentPage',
  title : 'Software Development',
  components: {
    SoftwareDevelopment
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
