<template>
  <div>
    <VideoCreation :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import VideoCreation from '@/components/services/VideoCreation.vue'

export default {
  name: 'VideoCreationPage',
  title : 'Video Creation',
  components: {
    VideoCreation
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
