<template>
  <div>
    <VirtualAssistants :title="optionsTitle"/>
  </div>
</template>

<script>
// @ is an alias to /src
import VirtualAssistants from '@/components/services/VirtualAssistants.vue'

export default {
  name: 'VirtualAssistantsPage',
  title : 'Virtual Assistants',
  components: {
      VirtualAssistants
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
