<template>
  <div>
    <WebDesignDevelopment :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import WebDesignDevelopment from '@/components/services/WebDesignDevelopment.vue'

export default {
  name: 'WebDesignDevelopmentPage',
  title : 'Website Design & Development',
  components: {
    WebDesignDevelopment
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
