<template>
  <div>
    <WebHosting :title="optionsTitle"/>
  </div>
</template>

<script>
// @ is an alias to /src
import WebHosting from '@/components/services/WebHosting.vue'

export default {
  name: 'WebHostingPage',
  title : 'Web Hosting & Cloud Hosting',
  components: {
    WebHosting
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
