<template>
  <div>
    <WebMaintenanceSupport :title="optionsTitle" />
    
  </div>
</template>

<script>
// @ is an alias to /src
import WebMaintenanceSupport from '@/components/services/WebMaintenanceSupport.vue'

export default {
  name: 'WebMaintenanceSupportPage',
  title : 'Website Maintenance and Support',
  components: {
    WebMaintenanceSupport
  },
  data : function() {
      return {
          optionsTitle : this.$options.title
      }
  }
}
</script>
